* {
    width: 90vw;
    max-width: 100in;
    min-width: 5in;
}

a:hover {
    background-color: cyan;
}
p:active {
    text-decoration: underline;
}

div.navigation {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    background-color: #eb36eb;
    z-index: 10;
}

section {
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    display: block;
}

#Tuesday {
    color: rgb(255, 0, 0);
}

#Wednesday {
    color: #800080;
}

#videoTitle {
    color: hsl(148, 62%, 31%);
    text-decoration: underline;
}

.star-wars {
    width: 10cm;
    padding-left: 30px;
    padding-right: 30px;
}

audio {
    width: 50mm;
}

form {
    width: 7in;
    display: inline;
}

h1, h2, h3 {
    font-family: 'Zen Dots';
    text-align: center;
}

h1, h2 {
    text-decoration: underline;
}

li{
    font-size: 1.3em;
}

h3 {
    font-size: 1rem;
}

h3 + video {
    width: 7in;
    margin: auto;
    position: relative;
    left: 1in;
}

#joke {
    margin-top: 1cm;
}

form > fieldset {
    background-color: yellow;
    margin-top: 1em;
}

fieldset * {
    width: 7in;
    text-align: center;
}

h3 ~ p {
    font-size: 1.5em;
}

a[href] {
    color: green;
}