* {
    width: 90vw;
}

div.navigation {
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

#Tuesday {
    color: rgb(255, 0, 0);
}

#Wednesday {
    color: #800080;
}

#videoTitle {
    color: hsl(148, 62%, 31%);
}

.star-wars {
    width: 10cm;
}

audio {
    width: 50mm;
}

form {
    width: 7in;
}

h1, h2, h3 {
    font-family: 'Zen Dots';
}

li{
    font-size: 1.3em;
}

h3 {
    font-size: 1rem;
}

h3 + video {
    width: 7in;
}

form > fieldset {
    background-color: yellow;
}

fieldset * {
    width: 7in;
}

h3 ~ p {
    font-size: 1.5em;
}

a[href] {
    color: green;
}